@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.rellax {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.img {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}


#title_name {
    font-size: 32px;
    color: black;
    opacity: 1;
    padding: 30px;
    z-index: 1;
    text-shadow: 0px 0px 2px white;
    animation: SlideIn 3s;
}



#container01 {
    width: 100%;
    height: 800px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

#container02 {
    width: 100%;
    height: auto;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

#top_img {
    width: 100%;
    height: auto;
    z-index: -1;
    position: absolute;
    animation: FadeIn 1s;
}



.head_box {
    width: 100%;
    height: 1000px;
    margin: 0px;
    padding: 0px;
    z-index: -1;
}

.box {
    width: 100%;
    height: 200px;
    background-color: rgb(77, 77, 113);
    z-index: 4;
}




@keyframes SlideIn {
    0% {
        opacity: 0;
        transform: translateX(-64px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*
@media screen and (max-width: 550px) {
    
        
    }
}
*/

