@charset "utf-8";


/*フォント指定*/
@font-face {
	font-family: 'logoType';
	src: url(../font/ロゴたいぷゴシック.otf);
}

/*h1~h6見出し用CSS*/

h1 {
	position: relative;
	font-size: 30px;
	padding: 0.3em 0.3em 0.3em 0.8em;
	color: #ffffff;
	background: #0d47a1;
	font-family: logoType;
	-webkit-box-shadow: 0 1px 1px 0 inset rgba(0, 0, 0, 0.6);
	box-shadow: 0 1px 1px 0 inset rgba(0, 0, 0, 0.6);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

h1::before,
h1::after {
	position: absolute;
	width: 0;
	height: 51.95px;
	content: '';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-width: 0 0 0 4px;
	border-style: double;
	border-color: #4dd0e1;
}

h1::before {
	right: 10px;
	bottom: -15px;
}

h1::after {
	top: -15px;
	left: 10px;
}



h2 {
	font-size: 28px;
	font-family: logoType;
	position: relative;
	padding: .1em .3em .1em 1em;
	border: 1px solid #00BCD4;
}

h2::after {
	position: absolute;
	top: .5em;
	left: .5em;
	content: '';
	width: 6px;
	height: -webkit-calc(100% - 1em);
	height: calc(100% - 1em);
	background-color: #00BCD4;
	border-radius: 4px;
}


h3 {
	font-size: 24px;
	font-family: logoType;
	position: relative;
	padding: .1em .3em .1em 1.3em;
	border-bottom: 1px solid #00838F;
}

h3::before,
h3::after {
	position: absolute;
	content: '';
	border-radius: 100%
}

h3::before {
	top: .5em;
	left: .2em;
	width: 18px;
	height: 18px;
	background: rgba(0, 131, 143, .7);
}

h3::after {
	top: .8em;
	left: .5em;
	width: 13px;
	height: 13px;
	background: rgba(0, 131, 143, .5);
}


h4 {
	font-family: logoType;
	position: relative;
	padding: .1em .3em .1em 1em;
}

h4:before {
	position: absolute;
	content: '';
	height: 15px;
	width: 13px;
	display: block;
	background: #00BCD4;
	top: 0.3em;
	left: 3px;
	transform: rotate(-50deg);
}

h4:after {
	position: absolute;
	content: '';
	height: 13px;
	width: 6px;
	display: block;
	background: #00BCD4;
	top: 0.8em;
	left: 2px;
	transform: rotate(-90deg);
}


h5 {
	position: relative;
	padding: .1em .3em .1em 1.3em;
}
h5::before,h5::after {
	position: absolute;
	content: "□";
	width:4px;
	height: 4px;
	color: #FBC02D;
}
h5::before {
	left:0;
	top:0;
}
h5::after {
	left: 5.5px;
	top: 7.5px;
}