@charset "utf-8";


/*フォント指定*/
@font-face {
	font-family: 'logoType';
	src: url(../font/ロゴたいぷゴシック.otf);
}

* {
	margin: 0px;
	padding: 0px;
}

/*ヘッダー部分*/
.header {
	margin: 0px;
	padding: 0px;
}

.headbar {
	margin: 0px;
	padding: 0px;
	height: 60px;
	width: 100%;
	background-color: rgb(219, 217, 255);
	opacity: 0.8;
}


/*メインコンテンツ部分*/

.main_box {
	background-color: #ffffff;
	margin: 0px;
	padding: 10px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row; 
	flex-wrap: no-wrap;
}


.main_content {
	margin: 10px 3% 10px 7%;
	padding: 10px;
	width: 60%;
	height: auto;
}

@media screen and (max-width: 480px) {
	.main_content {
		margin: 10px 0px 10px 0px;
		padding: 10px;
		width: 100%;
		height: auto;
	}
}


.side_menu {
	margin: 10px 7% 10px 3%;
	padding: 10px;
	width: 20%;
	height: auto;
}

@media screen and (max-width: 480px) {
	.side_menu {
		display:none;
	}
}

.side_menu_title_box {
	margin: 0px;
	padding: 8px 0px;
	width: 100%;
	font-size: 20px;
	font-family: logoType;
	height: auto;
	text-align: center;
	color: white;
	background-color: #b6d4ff;
}


/*.h1~h6見出し用CSS*/

.h1 {
	margin: 0px 0px 20px 0px;
	position: relative;
	font-size: 30px;
	padding: 0.3em 0.3em 0.3em 0.8em;
	color: #ffffff;
	background:linear-gradient(to right,#89b8ff, #d5ffe2);
	/*background: #0d47a1;*/
	font-family: logoType;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}



.h2 {
	margin: 0px 0px 20px 0px;
	font-size: 28px;
	font-family: logoType;
	position: relative;
	padding: .1em .3em .1em 1em;
	border: 1px solid #89b8ff;
}

.h2::after {
	position: absolute;
	top: .5em;
	left: .5em;
	content: '';
	width: 6px;
	height: -webkit-calc(100% - 1em);
	height: calc(100% - 1em);
	background-color: #00BCD4;
	border-radius: 4px;
}


.h3 {
	margin: 0px 0px 20px 0px;
	font-size: 24px;
	font-family: logoType;
	position: relative;
	padding: .1em .3em .1em 1.3em;
	border-bottom: 1px solid #89b8ff;
}

.h3::before,
.h3::after {
	position: absolute;
	content: '';
	border-radius: 100%
}

.h3::before {
	top: .5em;
	left: .2em;
	width: 18px;
	height: 18px;
	background: #89b8ff;
	opacity: 0.7;
}

.h3::after {
	top: .8em;
	left: .5em;
	width: 13px;
	height: 13px;
	background: #89b8ff;
	opacity: 0.5;
}


.h4 {
	margin: 0px 0px 20px 0px;
	font-size: 24px;
	font-family: logoType;
	position: relative;
	padding: .1em .3em .1em 1em;
}

.h4:before {
	position: absolute;
	content: '';
	height: 15px;
	width: 13px;
	display: block;
	background: #00BCD4;
	top: 0.3em;
	left: 3px;
	transform: rotate(-50deg);
}

.h4:after {
	position: absolute;
	content: '';
	height: 13px;
	width: 6px;
	display: block;
	background: #00BCD4;
	top: 0.8em;
	left: 2px;
	transform: rotate(-90deg);
}


.h5 {
	margin: 0px 0px 20px 0px;
	font-size: 20px;
	font-family: logoType;
	position: relative;
	padding: .1em .3em .1em 1.3em;
}

.h5::before,
.h5::after {
	position: absolute;
	content: "□";
	width: 4px;
	height: 4px;
	color: #FBC02D;
}

.h5::before {
	left: 0;
	top: 0;
}

.h5::after {
	left: 5.5px;
	top: 7.5px;
}

p {
	margin: 0px 0px 10px 0px;
	font-size: 18px;
}



ul.cp_list {
	padding: 0.5em;
	list-style-type: none;
}

ul.cp_list li {
	position: relative;
	padding: 0em 0.3em 0.3em 1.3em;
}

ul.cp_list li::before {
	position: absolute;
	content: '';
	display: block;
	top: 0.5em;
	left: 0;
	width: 6px;
	height: 6px;
	border-right: 3px solid #00BCD4;
	border-bottom: 3px solid #00BCD4;
	transform: rotate(-45deg);
}


a.button1 {
	display: block;
	position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border: 1px solid #8BC34A;
	background: #8BC34A;
	overflow: hidden;
	z-index: 1 !important;
}

a.button1:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 0;
	width: 100%;
	background: #fff;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transition: 0.3s;
	z-index: -1;
}

a.button1:hover {
	color: #da3c41;
}

a.button1:hover:after {
	height: 250%;
	opacity: 1;
}

a.button1:active:after {
	height: 350%;
	opacity: 1;
}


a.button2 {
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #EC407A;
	border: 2px solid #EC407A;
	border-radius: 3px;
	transition: .4s;
}

a.button2:hover {
	background: #EC407A;
	color: #fff;
}




.textlink1 {
	position: relative;
	padding: 0.1em 0.3em;
	transition: all 0.3s ease;
	text-decoration: none;
	color: #EC407A;
}

.textlink1::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1%;
	transition: all 0.3s ease;
	opacity: 0;
	background-color: #EC407A;
	border-radius: 50px;
}

.textlink1::after {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	transition: all 0.3s ease;
	border-bottom: 2px solid #EC407A;
	opacity: 1;
}

.textlink1:hover::before {
	height: 100%;
	opacity: 0.4;
}

.textlink1:hover::after {
	left: 50%;
	right: 50%;
	width: 0%;
	opacity: 0;
}



/*署名欄*/
.cp_blockdesign04 {
	padding: 1em 0em 0.5em 0em;
	border-top: solid 1px #da3c41;
	border-bottom: solid 1px #da3c41;
	position: relative;
}

.cp_blockdesign04::before,
.cp_blockdesign04::after {
	content: '';
	position: absolute;
	top: -10px;
	width: 1px;
	height: calc(100% + 20px);
	background-color: #da3c41;
}

.cp_blockdesign04::before {
	left: 10px;
}

.cp_blockdesign04::after {
	right: 10px;
}

.cp_blockdesign04 .cp_authorname {
	display: flex;
	background-color: #da3c41;
}

.cp_blockdesign04 .cp_authorname h2 {
	margin: 0.3em 0.3em 0.3em 0.8em;
	width: 65%;
	color: #ffffff;
}

.cp_blockdesign04 .cp_authorname ul {
	margin: 0.5em 0;
	padding: 0.3em 0 0.3em 0.8em;
	width: 35%;
	text-align: center;
	border-left: 1px dashed #ffffff;
}

.cp_blockdesign04 .cp_authorname li {
	display: inline;
	padding: 0 0.5em;
}

.cp_blockdesign04 .cp_authorname li a {
	color: #ffffff;
}

.cp_blockdesign04 .cp_authorinfo {
	padding: 0.5em 1.5em 0.5em 1.5em;
}